* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #1c2042;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: rgba(144, 206, 231, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.display input {
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 32px;
    color: #fff;
    text-align: right;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 15px;
}

button {
    width: 60px;
    height: 60px;
    margin: 6px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.1),
                5px 5px 10px rgba(0,0,0,0.3);
}

button:active {
    transform: scale(0.98);
}

.scientific {
    display: grid;
    grid-template-columns: repeat(5, 60px);
}

.basic {
    display: grid;
    grid-template-columns: repeat(4, 60px);
}

.equal-box {
    display: flex;
    justify-content: center;
}

.equal {
    width: 250px;
    background: #00eaff;
    color: #000 !important;
    font-size: 24px;
    font-weight: bold;
}

 
